@mixin serif-font($weight: 400, $size: 16) {
  font-family: "Libre Baskerville", serif;
  font-size: get-size($size);
  font-weight: $weight;
}

@mixin sans-serif-font($weight: 400, $size: 16) {
  font-family: "Nunito", sans-serif;
  font-size: get-size($size);
  font-weight: $weight;
  text-transform: uppercase;
}

@function get-size($size) {
  $remSize: $size / 10;
  @return #{$remSize}rem;
}