<div class="product-listing">
  <div class="product-listing__info">
    <h2 class="product-listing__info-header">Just Wine</h2>

    <p class="product-listing__info-description">Winemaking facility crush activity Pinot Noir food and wine pairing then producers accolade score.</p>
    <p class="product-listing__info-description">Premium selection notable craft wines, collection small lots are elegant and distinctive.</p>
    <p class="product-listing__info-description">Taste labels and notes with flavors of brand.</p>
  </div>

  <ng-container *ngFor="let product of products">
    <app-product-tile class="product-listing__product" [product]="product"></app-product-tile>
  </ng-container>
</div>