@import "_settings";
@import "_settings.colors";

.app {
  &__container {
    // background-color: $background-content;
    margin: 3rem;
    min-height: calc(100vh - (#{$content-margin} * 2 + #{$header-height}));
    // padding: 6.5rem;
    position: relative;
  }

  &__video {
    position: fixed;
    top: 0;
  }
}