@import "_settings.colors";

$content-margin: 3rem;

.app__container {
  // background-color: $background-content;
  margin: 3rem;
  min-height: calc(100vh - (#{$content-margin} * 2));
  // padding: 6.5rem;
}